<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="logo">
                <a href="{{ url_for('index') }}" ><img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="logo" width="50px" style="border-radius: 20%;"></a>
            </div>
          
            <ul> 
              <li><a href="{{ url_for('login') }}">Login</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
              <li><a href="{{ url_for('profile') }}">Profile</a></li>
            </ul>
        </div>
     </nav>
    <h1>Result</h1>
    {% if error %}
    <p class="error">{{ error }}</p>
    <p><a href="/">Upload another image</a></p>
    {% else %}
    <div class="result">
        <div>
            <h3>Original Image</h3>
            <img src="{{ url_for('static', filename='original.jpg') }}" alt="Original Image">
        </div>
        <div>
            <h3>New Image ({{ increase_factor }}x resolution increase)</h3>
            <img src="{{ url_for('static', filename='new.jpg') }}" alt="New Image">
        </div>
    </div>
    {% endif %}
</body>
</html>
